<div class="page-header">
    <%= link_to posts_path, class: "btn btn-default pull-right" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <h1>New Post</h1>
</div>

<%= render 'form', post: @post %>

